# Mac
.DS_Store

# Dataset folders
/dataset/test/
/dataset/train/
/dataset/val/

# Folders after conversion
/dataset/train_tif/
/dataset/test_tif/
/dataset/val_tif/


# Dataset files
wnids.txt
words.txt

# Just to be on the safe side
*.JPEG
*.TIF

# VS_code
__pycache__/
.vscode/

# tex
*.log
*.aux
*.synctex.*